.nav-area {
  height: 30vh;
  width: 100vw;
}
.banner-wrap {
  border: 2px solid black;
  height: 27rem;
  background-image: url("../../images/TH_landscape.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.title-area {
  width: 40%;
  height: 14rem;
  margin-left: 2%;
}
.title-area h1 {
  margin-top: 4%;
  color: rgba(0, 0, 0, 0.856);
  font-size: 4rem;
}
.title-area h2 {
  margin-top: 2%;
  color: rgba(0, 0, 0, 0.856);
  font-size: 2rem;
}

.navbar {
  background-color: rgba(211, 211, 211, 0.492);
  z-index: 0;
  width: 100vw;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.link-wrap {
  height: 100%;
  width: 85%;
}
.list-cont {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
}
