.nav-area {
  height: 25vh;
  width: 100vw;
}
.banner-img {
  width: 100vw;
  height: 14rem;
}
.navbar {
  background-color: rgba(245, 245, 220, 0.718);
  z-index: 0;
  margin-top: -3px;
  width: 100vw;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.link-wrap {
  height: 100%;
  width: 85%;
}
.list-cont {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
}
