/* #536878 */

.banner-area {
  height: 13rem;
}
.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  background-color: rgba(210, 180, 140, 0.183);
}
.icon-area {
  height: 85%;
  width: 14%;
  margin-right: -17px;
}
.house {
  height: 100%;
}
.tree {
  position: relative;
  width: 45%;
  bottom: 5.5rem;
  z-index: 1;
}
.title-wrap {
  height: 85%;
  width: 32%;
  padding: 1.3%;
}
.title-wrap h1 {
  font-size: 3.5rem;
  color: #536878;
  margin-top: auto;
}
.title-wrap h2 {
  color: #536878;
  font-size: 17px;
  margin-top: 1%;
}

.banner-bottom {
  background-color: #536878;
  height: 3rem;
}
